header
  nav.navbar.navbar-default
    ul.nav.navbar-nav
      li 
        a(href="/employees") Employee Directory
      li 
        a(href="#") Home
      li 
        a(href="/contact-info") Contact

    